{% if USE_OPEN_GRAPH is not defined %}
    {% set USE_OPEN_GRAPH = False %}
{% endif %}
{% if USE_TWITTER_CARDS is not defined %}
    {% set USE_TWITTER_CARDS = False %}
{% endif %}
{% if OPEN_GRAPH_IMAGE is not defined %}
    {% set OPEN_GRAPH_IMAGE = False %}
{% endif %}
{% if PIWIK_SITE_ID and PIWIK_URL %}
    {% if PIWIK_SSL_URL is not defined %}
        {% set PIWIK_SSL_URL = PIWIK_URL %}
    {% endif %}
{% endif %}
{% if MUUT_SITENAME is not defined %}
    {% set MUUT_SITENAME = False %}
{% endif %}
{% if article %}
    {% set share_title = article.title %}
    {% set share_url = SITEURL ~ '/' ~ article.url %}
    {% set obj = article %}
{% elif page %}
    {% set share_title = page.title %}
    {% set share_url = SITEURL ~ '/' ~ page.url %}
    {% set obj = page %}
{% endif %}
{% if THEME_PRIMARY is not defined or THEME_ACCENT is not defined %}
    {% set THEME_PRIMARY = 'blue_grey' %}
    {% set THEME_ACCENT = 'pink' %}
{% endif %}
{% if MEGA_FOOTER is not defined %}
    {% set MEGA_FOOTER = True %}
{% endif %}
{% if DISCLAIMER is not defined %}
    {% set DISCLAIMER = False %}
{% endif %}
{% if COPYRIGHT is not defined %}
    {% set COPYRIGHT = False %}
{% endif %}
