{% for year, date_year in dates|groupby('date.year')|sort(reverse=True) %}
    <li>
        <h2>
            {% if YEAR_ARCHIVE_SAVE_AS %}
                <a href="{{ SITEURL }}/{{ year }}/"
                   rel="bookmark" title="Archives for {{ year }}"
                   itemprop="url">
                    {{ year }}
                </a>
            {% else %}
                {{ year }}
            {% endif %}
        </h2>
    </li>
    {% include 'partials/archive-month.html' %}
{% endfor %}
