{% if USE_OPEN_GRAPH is not defined %}
    {% set USE_OPEN_GRAPH = False %}
{% endif %}
{% if OPEN_GRAPH_IMAGE is not defined %}
    {% set OPEN_GRAPH_IMAGE = False %}
{% endif %}
{% if USE_OPEN_GRAPH %}
    <meta property="og:site_name" content="{{ SITENAME|striptags|escape }}" />
    <meta property="og:type" content="article" />
    {% if article %}
        <meta property="og:title"
              content="{{ article.title|striptags|escape }}" />
        <meta property="og:url"
              content="{{ SITEURL }}/{{ article.url }}" />
        <meta property="og:description"
              content="{{ article.summary|striptags|escape }}" />
        <meta property="og:image"
              content="{{ SITEURL }}/{{ article.url }}index.png" />
    {% elif page %}
        <meta property="og:title"
              content="{{ page.title|striptags|escape }}" />
        <meta property="og:url"
              content="{{ SITEURL }}/{{ page.url }}" />
        <meta property="og:description"
              content="{{ page.summary|striptags|escape }}" />
        <meta property="og:image"
              content="{{ SITEURL }}/{{ page.url }}index.png" />
    {% else %}
        <meta property="og:title" content="{{ SITENAME|striptags|escape }}" />
        <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}" />
        <meta property="og:image"
              content="{{ SITEURL }}/{{ output_file|replace('.html', '.png') }}" />
    {% endif %}
{% endif %}
