{% if MENUITEMS %}
    <div class="mdl-mega-footer--drop-down-section">
        <h1 class="mdl-mega-footer--heading">Menu</h1>
        <ul class="mdl-mega-footer--link-list">
            {% for title, url in MENUITEMS %}
                <li>
                    <a href="{{ url }}" itemprop="url" rel="bookmark">
                        {{ title }}
                    </a>
                </li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU != False %}
                {% for page in PAGES %}
                    <li>
                        <a href="{{ SITEURL }}/{{ page.url }}" itemprop="url"
                           rel="bookmark">
                            {{ page.title }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if ARCHIVES_SAVE_AS %}
                <li>
                    <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}"
                       itemprop="url" rel="bookmark">
                            Archives
                    </a>
                </li>
            {% endif %}
            {% if FEED_RSS or FEED_ATOM %}
                <li>
                    <a href="{{ SITEURL }}/{{ FEED_RSS if FEED_RSS else FEED_ATOM }}"
                       title="{{ 'RSS' if FEED_RSS else 'Atom' }}" itemprop="url">
                        {{ 'RSS' if FEED_RSS else 'Atom' }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
