{% if DEFAULT_PAGINATION %}
    <nav class="eevee-pagination mdl-cell mdl-cell--12-col">
        {% if articles_page is defined and articles_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}"
               class="eevee-nav__button">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect
                               mdl-button--icon mdl-color--white
                               mdl-color-text--grey-900" role="presentation">
                    <i class="material-icons">arrow_back</i>
                </button>
                Newer
            </a>
        {% elif dates_page is defined and dates_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ dates_previous_page.url }}"
               class="eevee-nav__button">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect
                               mdl-button--icon mdl-color--white
                               mdl-color-text--grey-900" role="presentation">
                    <i class="material-icons">arrow_back</i>
                </button>
                Newer
            </a>
        {% endif %}
        <div class="eevee-spacer"></div>
        {% if articles_page is defined %}
            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ articles_next_page.url }}"
                   class="eevee-nav__button">
                    Older
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect
                                   mdl-button--icon mdl-color--white
                                   mdl-color-text--grey-900" role="presentation">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </a>
            {% endif %}
        {% elif dates_page is defined %}
            {% if dates_page.has_next() %}
                <a href="{{ SITEURL }}/{{ dates_next_page.url }}"
                   class="eevee-nav__button">
                    Older
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect
                                   mdl-button--icon mdl-color--white
                                   mdl-color-text--grey-900" role="presentation">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </a>
            {% endif %}
        {% endif %}
    </nav>
{% endif %}
