{% from 'partials/_defaults.html' import PIWIK_SSL_URL with context %}
{% if PIWIK_SITE_ID and PIWIK_URL %}
    <script>
        var _paq=_paq||[];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var e="https:"==document.location.protocol?"https://{{ PIWIK_SSL_URL }}/":"http://{{ PIWIK_URL }}/";_paq.push(["setTrackerUrl",e+"piwik.php"]),_paq.push(["setSiteId","{{ PIWIK_SITE_ID }}"]);var t=document,p=t.createElement("script"),a=t.getElementsByTagName("script")[0];p.type="text/javascript",p.defer=!0,p.async=!0,p.src=e+"piwik.js",a.parentNode.insertBefore(p,a)}();
    </script>
{% endif %}
