<link rel="dns-prefetch" href="{{ SITEURL }}">
<link rel="dns-prefetch" href="//code.getmdl.io">
{% if DISQUS_SITENAME %}
    <link rel="dns-prefetch" href="//disqus.com">
    <link rel="dns-prefetch" href="//a.disquscdn.com">
    <link rel="dns-prefetch" href="//{{ DISQUS_SITENAME }}.disqus.com">
    <link rel="dns-prefetch" href="//glitter-services.disqus.com">
{% endif %}
{% from 'partials/_defaults.html' import MUUT_SITENAME with context %}
{% if MUUT_SITENAME %}
    <link rel="dns-prefetch" href="//cnd.muut.com">
{% endif %}
{% from 'partials/_defaults.html' import PIWIK_SSL_URL with context %}
{% if PIWIK_URL %}
    <link rel="dns-prefetch" href="{{ PIWIK_URL }}">
{% endif %}
{% if PIWIK_SSL_URL %}
    <link rel="dns-prefetch" href="{{ PIWIK_SSL_URL }}">
{% endif %}
{% if GOSQUARED_SITENAME %}
    <link rel="dns-prefetch" href="//d1l6p2sc9645hc.cloudfront.net">
{% endif %}
{% if GOOGLE_ANALYTICS %}
    <link rel="dns-prefetch" href="//google-analytics.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
{% endif %}
{% from 'partials/_defaults.html' import OWA_URL with context %}
{% if OWA_URL %}
    <link rel="dns-prefetch" href="{{ OWA_URL }}">
{% endif %}
