{% if article or page %}
    <div>
        {% if article %}
            {% set share_title = article.title %}
            {% set share_url = SITEURL ~ '/' ~ article.url %}
        {% elif page %}
            {% set share_title = page.title %}
            {% set share_url = SITEURL ~ '/' ~ page.url %}
        {% endif %}
        <a href="https://twitter.com/intent/tweet?text={{ share_title|striptags|urlencode }}&amp;url={{ share_url|urlencode }}{% if TWITTER_USERNAME %}&amp;related={{ TWITTER_USERNAME }}{% endif %}"
           title="Share '{{ share_title|striptags }}' on Twitter"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;">
            <i class="fa fa-twitter mdl-color-text--primary"
               aria-hidden="true"></i>
        </a>
    </div>
    <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url|urlencode }}"
           title="Share '{{ share_title|striptags }}' on Facebook"
           onclick="window.open(this.href, 'facebook-share', 'width=580,height=296'); return false;">
            <i class="fa fa-facebook mdl-color-text--primary" aria-hidden="true"></i>
       </a>
    </div>
    <div>
        <a href="https://plus.google.com/share?url={{ share_url|urlencode }}"
           title="Share '{{ share_title|striptags }}' on Google+"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <i class="fa fa-google mdl-color-text--primary"
               aria-hidden="true"></i>
        </a>
    </div>
{% endif %}
