{% from 'partials/_defaults.html' import share_title with context %}
{% from 'partials/_defaults.html' import share_url with context %}
{% from 'partials/_defaults.html' import obj with context %}
{% if obj is defined %}
    <div class="eevee-meta eevee-share">
        <div class="mdl-layout-spacer"></div>
        <div>
            <ul class="social-share mdl-navigation">
                <li class="social-share__link social-share__link--twitter">
                    <a href="https://twitter.com/intent/tweet?text={{ share_title|striptags|urlencode }}&amp;url={{ share_url|urlencode }}{% if TWITTER_USERNAME %}&amp;related={{ TWITTER_USERNAME }}{% endif %}"
                       title="Share '{{ share_title|striptags }}' on Twitter"
                       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-share__link social-share__link--facebook">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url|urlencode }}"
                       title="Share '{{ share_title|striptags }}' on Facebook"
                       onclick="window.open(this.href, 'facebook-share', 'width=580,height=296'); return false;">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-share__link social-share__link--google-plus">
                    <a href="https://plus.google.com/share?url={{ share_url|urlencode }}"
                       title="Share '{{ share_title|striptags }}' on Google+"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="social-share__link social-share__link--email">
                    <a href="mailto:?subject={{ share_title|striptags|urlencode }}&amp;body={{ share_title|striptags|urlencode }}%20-%20{{ share_url|urlencode }}%0A%0A{{ obj.summary|striptags|urlencode }}' via email">
                        <i class="material-icons" aria-hidden="true">&#xE0E1;</i>
                    </a>
                </li>
                {% if MUUT_SITENAME or DISQUS_SITENAME %}
                    {% if obj is defined and obj.comments|title != 'False' %}
                        <li class="social-share__link social-share__link--comment">
                            <a href="#article-comments" title="Discuss '{{ share_title|striptags }}'">
                             <i class="material-icons" aria-hidden="true">&#xE0B9;</i>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
