{% if article is defined %}
    {% set obj = article %}
{% elif page is defined %}
    {% set obj = page %}
{% endif %}
<meta itemprop="accessibilityControl" content="fullKeyboardControl" />
<meta itemprop="accessibilityControl" content="fullMouseControl" />
<meta itemprop="accessibilityControl" content="bookmarks" />
<meta itemprop="accessibilityControl" content="captions" />
<meta itemprop="accessibilityControl" content="alternativeText" />
<meta itemprop="accessibilityControl" content="index" />
<meta itemprop="accessibilityControl" content="readingOrder" />
<meta itemprop="accessibilityControl" content="structuralNavigation" />
<meta itemprop="accessibilityControl" content="tableOfContents" />
<meta itemprop="accessibilityHazard" content="noFlashingHazard" />
<meta itemprop="accessibilityHazard" content="noMotionSimulationHazard" />
<meta itemprop="accessibilityHazard" content="noSoundHazard" />
<meta itemprop="accessibilityAPI" content="ARIA" />
<div itemprop="author" itemscope
     itemtype="https://schema.org/Person" role="presentation">
    <meta itemprop="name" content="{{ obj.author.name }}" />
    <meta itemprop="url"
          content="{{ SITEURL }}/{{ obj.author.url }}" />
</div>
{% if obj.tags %}
    <meta itemprop="keywords"
          content="{% for tag in obj.tags %}{{ tag }}{% if not loop.last %},{% endif %}{% endfor %}" />
{% endif %}
{% if obj.category %}
    <meta itemprop="keywords" content="{{ obj.category }}" />
{% endif %}
