h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
}

pre, code, blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
    border-left: rgb(66, 66, 66) 0.4em solid;
    font-size: 14px;
}

table {
    position: relative;
    border: 1px solid rgba(0, 0, 0, .12);
    border-collapse: collapse;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
}

thead {
    padding-bottom: 3px;
}

tbody tr {
    position: relative;
    height: 48px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
}

tbody tr:hover {
    background-color: rgb(238, 238, 238);
}

td {
    text-align: right;
}

th {
    padding: 0 18px 12px 18px;
    text-align: right;
}

td:first-of-type,
th:first-of-type {
    padding-left: 24px;
}

td:last-of-type,
th:last-of-type {
    padding-right: 24px;
}

td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 12px 18px;
    box-sizing: border-box;
}

td {
    vertical-align: middle;
}

th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    padding-bottom: 8px;
    box-sizing: border-box;
}

.eevee-header .mdl-layout__header-row {
    padding-left: 40px;
}

.eevee-nav, .eevee-logo, .eevee-logo a {
    font-weight: 400;
    margin: 0;
    opacity: 0.87;
    text-decoration: none;
}

.eevee-ribbon {
    width: 100%;
    height: 30em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eevee-main {
    margin-top: -25em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eevee-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.eevee-content {
    border-radius: 2px;
    margin-bottom: 80px;
}

.eevee-padding {
    padding: 56px;
}

.eevee-article {
    padding: 0 56px;
}

.eevee-page {
    padding: 20px 56px;
}

div.section {
    padding: 10px 0;
}

div.eevee-page-spacer {
    height: 56px;
}

.eevee-article-padding {
    padding-bottom: 56px;
}

.eevee-layout.is-small-screen .eevee-content {
    padding: 40px 28px;
}

.eevee-footer {
    padding-left: 40px;
}

.eevee-meta {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    padding-left: 3px;
}

.eevee-toc {
    display: table-cell;
}

.eevee-toc-ribbon {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 3em -2.2em;
    padding: 0.2em 0 0.2em 1.6em;
    border-left: rgb(66, 66, 66) 0.4em solid;
}

.eevee-toc ul {
    list-style-type: none;
    padding-left: 10px;
    line-height: 28px;
}

.eevee-divider {
    width: 100%;
    height: 2px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 60px 0 -60px 0;
}

.eevee-divider-to-top {
    width: 100%;
    margin: 60px 0 -60px 0;
    text-align: center;
    padding-top: 10px;
}

.eevee-comment {
    background-color: rgb(245, 245, 245);
    padding: 10px 56px 20px 56px;
}

div.eevee-comment div.muut {
    margin-bottom: -26px;
}

.eevee-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.eevee-pagination, .eevee-pagination a {
    text-decoration: none;
    padding-top: 56px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}

.eevee-footer a, .mdl-logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mdl-mega-footer--link-list i.material-icons,
.mdl-mega-footer__link-list i.material-icons {
    font-size: 14px;
    vertical-align: middle;
}

div.align-center img, img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.align-center {
    text-align: center;
}

.eevee-share {
    float: right;
    padding: 36px 56px 0 56px;
}

ul.social-share {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social-share__link > a:hover {
    text-decoration: none;
}

.social-share__link > a {
    font-size: 22px;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    display: block;
    height: 100%;
    width: 100%;
}

.social-share__link > a > i {
    margin-top: 10px;
    margin-right: 5px;
    text-align: right;
    float: right;
}

.social-share__link {
    float: left;
    height: 45px;
    width: 75px;
    margin-left: 1.2%;
    padding: 0;
    -webkit-transition: background-color .3s ease-out 0s;
    transition: background-color .3s ease-out 0s;
    color: rgb(255, 255, 255);
}

.social-share__link--twitter {
    background-color: rgb(80, 171, 241);
}

.social-share__link--twitter:hover {
    background-color: rgb(17, 143, 240);
}

.social-share__link--facebook {
    background-color: rgb(58, 89, 153);
}

.social-share__link--facebook:hover {
    background-color: rgb(32, 89, 206);
}

.social-share__link--google-plus {
    background-color: rgb(223, 74, 48);
}

.social-share__link--google-plus:hover {
    background-color: rgb(255, 66, 33);
}

.social-share__link--comment {
    background-color: rgb(0, 189, 207);
}

.social-share__link--comment:hover {
    background-color: rgb(0, 212, 232);
}

.hidden {
    display: none;
}

a.headerlink {
    color: rgb(224, 224, 224);
    vertical-align: text-top;
    font-size: 40px;
    padding: 0 4px;
    text-decoration: none;
    -webkit-transition: color 0.3s ease 0s !important;
    transition: color 0.3s ease 0s !important;
}

a.headerlink:hover {
    color: rgb(66, 66, 66) !important;
}

.summary-content a.headerlink {
    display: none;
}

div.eevee-search-menu {
    width: 200px !important;
}

input.eevee-search-box {
    margin: 0 0 0 35px;
}

#tipue_search_content {
    letter-spacing: 0;
}

#tipue_search_results_count {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin: 24px 0;
    padding: 0;
    letter-spacing: 0;
}

.tipue_search_content_title > a  {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin: 24px 0 24px -3px;
    padding: 0;
    letter-spacing: 0;
    text-decoration: none;
}

.tipue_search_content_text {
    padding: 0 0 30px 0;
}
