@font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 300;
    src: local('FiraSans Light'), local('FiraSans-Light'), url('/theme/fonts/FiraSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 400;
    src: local('FiraSans'), local('FiraSans-Regular'), url('/theme/fonts/FiraSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 600;
    src: local('FiraSans SemiBold'), local('FiraSans-SemiBold'), url('/theme/fonts/FiraSans-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 700;
    src: local('FiraSans Bold'), local('FiraSans-Bold'), url('/theme/fonts/FiraSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'FiraMono';
    font-style: normal;
    font-weight: 400;
    src: local('FiraMono'), local('FiraMono-Regular'), url('/theme/fonts/FiraMono-Regular.woff') format('woff');
}

html, body, h1, h2, h3, h4, h5, h6,  {
    font-family: 'FiraSans', 'sans-serif' !important;
}

code, kbd, pre, samp, tt {
    font-family: 'FiraMono', 'monospace', 'serif' !important;
}

.eevee-ribbon {
    width: 100%;
    height: 40vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eevee-main {
    margin-top: -35vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eevee-header .mdl-layout__header-row {
    padding-left: 40px;
}

.eevee-nav {
    color: rgb(66, 66, 66);
}

.eevee-nav, .eevee-logo, .eevee-logo a {
    font-weight: 500;
    letter-spacing: 0;
    margin: 0;
    opacity: 0.87;
    text-decoration: none;
    font-size: 26px !important;
}

.eevee-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.eevee-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.eevee-layout.is-small-screen .demo-content {
    padding: 40px 28px;
}

.eevee-footer {
    padding-left: 40px;
}

.eevee-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}

.eevee-toc {
    display: table-cell;
}

.eevee-toc-ribbon {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
    border-left: #424242 0.4em solid;
}

pre, code, blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
    border-left: #424242 0.4em solid;
}

.eevee-toc ul {
    list-style-type: none;
    padding-left: 10px;
    line-height: 28px;
}
