{% extends "base.html" %}
{% block title %}Archives{% endblock %}
{% block content %}
    <article itemscope itemtype="http://schema.org/WebPage">
        <div class="eevee-page-spacer" role="presentation"></div>
        <div class="eevee-page" itemprop="mainContentOfPage">
            <section class="eevee-toc" itemprop="articleBody">
                <nav class="eevee-toc-ribbon">
                    <ul>
                        {% include 'partials/archive-year.html' %}
                    </ul>
                </nav>
            </section>
        </div>
    </article>
{% endblock %}
