{% if MUUT_SITENAME is not defined %}
    {% set MUUT_SITENAME = False %}
{% endif %}
{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <article>
        {% include 'partials/share.html' %}
        <div class="eevee-article eevee-article-padding">
            <div class="eevee-meta mdl-color-text--grey-500">
                <time datetime="{{ article.locale_date }}">
                    {{ article.locale_date }}
                </time>
            </div>
            <h2>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                   title="Permalink to {{ article.title|striptags }}">
                    {{ article.title }}
                </a>
            </h2>
            {% if article.toc %}
                <section class="eevee-toc">
                    <h2>Contents</h2>
                    <nav class="eevee-toc-ribbon">
                        {{ article.toc }}
                    </nav>
                </section>
            {% endif %}
            <section>
                {{ article.content }}
            </section>
        </div>
        {% if DISQUS_SITENAME or MUUT_SITENAME %}
            <div class="eevee-comment">
                <a name="article-comments"></a>
                {% if DISQUS_SITENAME %}
                    {% include 'partials/disqus.html' %}
                {% elif MUUT_SITENAME %}
                    {% include 'partials/muut.html' %}
                {% endif %}
            </div>
        {% endif %}
    </article>
{% endblock %}
