{% include 'partials/_defaults.html' %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head id="head">
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    {% include 'partials/prefetch.html' %}
    {% include 'partials/feeds.html' %}
    {% include 'partials/facebook.html' %}
    {% include 'partials/twitter.html' %}
    <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" />
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
</head>
<body>
    <div class="eevee-layout mdl-layout mdl-color--grey-50">
        <header class="eevee-header mdl-layout__header mdl-color--grey-50 mdl-color-text--grey-800"
                itemscope itemtype="http://schema.org/WPHeader">
            <div class="mdl-layout__header-row" id="top">
                <span class="eevee-logo mdl-color-text--accent mdl-layout-title">
                    <h3>
                        <a href="{{ SITEURL }}" rel="bookmark"
                           title="{{ SITENAME }}">
                            {{ SITENAME }}
                        </a>
                    </h3>
                </span>
                <div class="mdl-layout-spacer" role="presentation"></div>
                {% include 'partials/header_menu.html' %}
            </div>
        </header>
        <div class="eevee-ribbon mdl-color--primary-dark" role="presentation">
        </div>
        <main class="eevee-main mdl-layout__content">
            <div class="eevee-container mdl-grid">
                <div role="presentation"
                     class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
                </div>
                <div class="eevee-content mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--8-col"
                     aria-label="Main content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <div class="eevee-container mdl-grid">
            <div role="presentation"
                 class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
            </div>
            <div class="mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                {% include 'partials/pagination.html' %}
            </div>
        </div>
        <footer class="mdl-mega-footer" itemscope
                itemtype="http://schema.org/SiteNavigationElement">
            <div class="mdl-mega-footer--top-section">
                <div class="mdl-mega-footer--drop-down-section">
                    <ul class="mdl-mega-footer--link-list">
                        <li>
                            <a href="#top"
                               title="Back to the top of the page">
                                Back to the top of the page
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if MEGA_FOOTER == True %}
                {% include 'partials/mega_footer.html' %}
            {% endif %}
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
                    <a href="{{ SITEURL }}" rel="bookmark"
                       title="{{ SITENAME }}">
                        {{ SITENAME }}
                    </a>
                </div>
                {% if DISCLAIMER or COPYRIGHT %}
                    <ul class="eevee-footer mdl-mega-footer--link-list">
                        {% if DISCLAIMER %}
                            <li>{{ DISCLAIMER }}</li>
                        {% endif %}
                        {% if COPYRIGHT %}
                            <li>{{ COPYRIGHT }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </footer>
    </div>
</body>
<link rel="stylesheet"
      href="//code.getmdl.io/1.1.3/material.{{ THEME_PRIMARY }}-{{ THEME_ACCENT }}.min.css" />
{% if 'assets' in PLUGINS %}
    {% include 'partials/_minify_css.html' with context %}
{% else %}
    <link rel="stylesheet" type="text/css"
          href="{{ SITEURL }}/theme/css/fonts.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ SITEURL }}/theme/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ SITEURL }}/theme/css/material-icons.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ SITEURL }}/theme/css/pygments.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ SITEURL }}/theme/css/eevee.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ SITEURL }}/theme/css/custom.css" />
{% endif %}
{% include 'partials/analytics.html' %}
</html>
