<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

    <meta name="author" property="author" content="Kura" />
    <meta name="description" property="description" content="Lots of articles on programming thoughts and ideas, software and solid configurations, server hardware and more." />

    <meta property="twitter:site" content="@kuramanga" />
    <meta property="twitter:title" content="{{ self.title() }}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:description" content="{{ self.title() }}" />
    {% if article or page %}
        <meta property="twitter:image" content="{{ SITEURL }}/{{ article.url if article else page.url }}index.png" />
        <meta property="twitter:url" content="{{ SITEURL }}/{{ article.url if article else page.url}}" />
    {% else %}
        <meta property="twitter:image" content="{{ SITEURL }}/{{ output_file|replace('.html', '.png') }}" />
        <meta property="twitter:url" content="{{ SITEURL }}/{{ output_file }}" />
    {% endif %}

    <meta property="og:site_name" content="kura.io" />
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:description" content="{{ self.title() }}" />
    {% if article or page %}
        <meta property="og:image" content="{{ SITEURL }}/{{ article.url if article else page.url }}index.png" />
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url if article else page.url}}" />
    {% else %}
        <meta property="og:image" content="{{ SITEURL }}/{{ output_file|replace('.html', '.png') }}" />
        <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}" />
    {% endif %}

    <meta itemprop="name" content="{{ self.title() }}" />
    <meta itemprop="description" content="{{ self.title() }}" />
    {% if article or page %}
        <meta itemprop="image" content="{{ SITEURL }}/{{ article.url if article else page.url }}index.png" />
    {% else %}
        <meta itemprop="image" content="{{ SITEURL }}/{{ output_file|replace('.html', '.png') }}" />
    {% endif %}

    <link href="/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}" />
    <link rel="shortcut icon" href="{{ SITEURL}}/favicon.ico" />

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
</head>
<body>
    <div class="eevee-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
       <header class="eevee-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
           <div class="mdl-layout__header-row">
                <span class="eevee-logo mdl-color-text--accent mdl-layout-title">
                   <a href="{{ SITEURL }}">{{ SITENAME }}</a>
                </span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    {% for title, url in MENUITEMS %}
                        <a class="mdl-color-text--accent mdl-navigation__link" href="{{ SITEURL }}{{ url }}">{{ title }}</a>
                    {% endfor %}
                </nav>
            </div>
        </header>
        <div class="eevee-ribbon mdl-color--primary-dark"></div>
        <main class="eevee-main mdl-layout__content">
            <div class="eevee-container mdl-grid">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="eevee-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <footer class="mdl-mega-footer">
              <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
                  {{ SITENAME }}
                </div>
                <ul class="mdl-mega-footer--link-list">
                  <li>Powered by love &amp; rainbow sparkles</li>
                </ul>
              </div>
            </footer>
        </main>
    </div>
</body>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% if THEME_PRIMARY is not defined or THEME_ACCENT is not defined %}
    {% set THEME_PRIMARY = 'teal' %}
    {% set THEME_ACCENT = 'pink' %}
{% endif %}
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.{{ THEME_PRIMARY}}-{{ THEME_ACCENT}}.min.css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
{% assets filters="cssmin", output="css/eevee.%(version)s.css", "css/style.css", "css/pygments.css" %}
    <link href="/{{ ASSET_URL }}" rel="stylesheet" />
{% endassets %}
</html>
