{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
    <div class="eevee-padding">
        <section class="eevee-toc">
            <h2>Categories</h2>
            <nav class="eevee-toc-ribbon">
                <ul>
                    {% for category, articles in categories %}
                        <li>
                            <a href="{{ SITEURL }}/{{ category.url }}">
                                {{ category }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    </div>
{% endblock %}
