{% extends "base.html" %}
{% block content %}
{% for article in (articles_page.object_list if articles_page else articles) %}
    <article class="eevee-padding">
        <div class="eevee-meta mdl-color-text--grey-500">
            {{ article.locale_date }}
        </div>
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="Permalink to {{ article.title|striptags }}">
            {{ article.title }}
        </a></h2>
        {{ article.summary }}
        <div class="eevee-divider mdl-color--accent"></div>
    </article>
{% endfor %}
{% include 'partials/pagination.html' %}
{% endblock content %}
