{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block body_class %}post-template{% endblock body_class %}
{% block content %}
    <article class="post">
        <h1 class="post-title">
            <a href="/{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title|striptags }}">{{ page.title }}</a>
        </h1>
        <span class="post-meta">
            <a href="https://raw.github.com/kura/kura.io/master/content/{{ page.get_relative_source_path() }}">View on <span class="fa fa-github"></span></a>
        </span>
        <section class="post-content">
            {% if page.toc %}{{ page.toc }}{% endif %}
            {{ page.content }}
        </section>
    </article>
{% endblock %}
