{% if DEFAULT_PAGINATION %}
<nav class="eevee-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
    {% if articles_page and articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
            <a href="/{{ page_name }}.html" class="eevee-nav__button">
        {% else %}
            <a href="/{{ page_name }}{{ articles_page.previous_page_number() }}.html" class="eevee-nav__button">
        {% endif %}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
        <i class="material-icons">arrow_back</i>
        </button>
        Newer
        </a>
    {% endif %}
    <div class="section-spacer"></div>
    {% if articles_page and articles_page.has_next() %}
        <a href="/{{ page_name }}{{ articles_page.next_page_number() }}.html" class="eevee-nav__button">
            Older
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
            <i class="material-icons">arrow_forward</i>
            </button>
        </a>
    {% endif %}
</nav>
{% endif %}
